import(MASS)
import(mvtnorm)
import(igraph)

export(BiCopEst)
export(BiCopMetaContour)
export(BiCopChiPlot)
export(BiCopKPlot)
export(BiCopLambda)
export(BiCopVuongClarke)
export(BiCopIndTest)
export(BiCopSim)
export(BiCopPDF)
export(BiCopCDF)
export(BiCopPar2Tau)
export(BiCopPar2TailDep)
export(BiCopTau2Par)
export(BiCopSelect)
export(BiCopName)
export(BiCopHfunc)
export(BiCopDeriv)
export(BiCopDeriv2)
export(BiCopHfuncDeriv)
export(BiCopHfuncDeriv2)
export(BiCopGofTest)

export(RVineLogLik)
export(RVineAIC)
export(RVineBIC)
export(RVineMatrix)
export(RVineMatrixCheck)
export(RVineSim)
export(RVineSeqEst)
export(RVineCopSelect)
export(RVineMLE)
export(RVineStructureSelect)
export(RVineTreePlot)
export(RVineVuongTest)
export(RVineClarkeTest)
export(RVinePar2Tau)
export(RVineGrad)
export(RVineHessian)
export(RVineStdError)

export(C2RVine)
export(D2RVine)

export(TauMatrix)

export(RVineCor2pcor,RVinePcor2cor, RVineMatrixNormalize)
export(RVinePIT)
export(RVineGofTest)

export(BiCopPar2Beta)
export(RVinePar2Beta)
export(BetaMatrix)

S3method(print, RVineMatrix)

useDynLib("VineCopula")